{% extends "index.html" %}
{% block content %}

{% if user %}
    <p class="message-error">{{ message }}</p>
{% endif %}
<div class="container">
    <div class="form-signup">
        <h2>Inscrivez-vous</h2>
        <a href="{% url 'signup' %}" class="link-button" title="inscription">S'inscrire</a>
    </div>
    
    
    <div class="form-login">
        <h2>Connectez-vous</h2>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="text-align-right">
                <button type="submit" title="connexion">Se connecter</button>
            </div>
            
        </form>
    </div>
</div>



{% endblock content %}