* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px; /* Rounded borders for all elements */
}

body {
    margin: 0 5px;
    width: 99.5%;
    min-height: 100vh;
    position: relative;
    background-color: #f0f8ff; /* Light blue background */
}

body::after {
    content: '';
    display: block;
    height: 25px;
}

a {
    text-decoration: none;
    color: black; /* Link color */
}

p {
    margin: 10px auto;
}

a:visited {
    color: black;
}

input,
a,
button {
    font-size: 15px;
    text-align: center;
    width: 200px;
    padding: 5px;
    cursor: pointer;
    background-color: #ffffff; /* White background */
}

input[type=text],
input[type=password] {
    cursor: text;
}

input:focus-visible {
    outline: none;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}

h2 {
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}

#header {
    overflow: hidden;
    position: relative;
}

.sticky {
    position: fixed !important;
    top: 0;
    z-index: 2;
    background-color: #ffffff; /* White background */
    margin-bottom: 20px;
    width: 99.4%;
    display: block;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 99.4%;
    background-color: #f0f8ff; /* Light blue background */
    color: black;
    text-align: center;
    border-top: 1px solid black;
    padding: 5px;
}

.text-center {
    text-align: center;
}

p.message-error,
ul.errorlist {
    text-align: center;
    color: red;
    font-weight: bold;
}

ul.errorlist {
    list-style: none;
}

div.text-align-right {
    text-align: right;
    margin: 10px 0;
}

.section {
    border: 1px solid black;
    border-top: 0;
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

#header {
    border: 1px solid black;
}

form {
    padding: 10px;
    margin: 0 auto;
}

a {
    color: black;
}

a.link-button,
div.form-login > form > button {
    background-color: #add8e6; /* Light blue background */
    border: 0.2px solid #8f8f9d;
    border-radius: 10px; /* Rounded borders */
    margin: auto;
    display: inline-block;
    text-decoration: none;
}

/* MENU */
nav.nav-menu {
    position: absolute;
    right: 20px;
    top: 0;
}

ul.ul-menu {
    list-style: none;
    display: flex;
}

ul.ul-menu > li {
    margin: 0 8px;
}

ul.ul-menu > li > a {
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

/* Signup form */

form.signup-form,
div.form-login > form {
    width: 300px;
    display: grid;
    grid-template-areas: "a" "b" "c" "d";
}

form.signup-form > p > input,
div.form-login > form > p > input {
    width: 300px;
}

div.buttons-submit-container {
    text-align: end;
    margin-top: 30px;
}

div.buttons-submit-container > a.link-button,
div.buttons-submit-container > button {
    width: 100px;
    background-color: #add8e6; /* Light blue background */
    border: 0.2px solid #8f8f9d;
    border-radius: 10px; /* Rounded borders */
}

/* Flux */
div.flex {
    display: flex;
    flex-direction: row;
    padding: 20px auto;
}

div.flex > p {
    padding: 10px 50px;
}

div.my-feed,
div.my-posts {
    width: 600px;
    margin: 40px auto;
}

div.post {
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px;
    width: 600px;
    box-shadow: 10px 10px 5px black;
    background-color: #ffffff; /* White background */
}

div.post > p.container-link {
    text-align: end;
}

p.date-published-ticket,
p.date-published-review,
li.date-published-ticket {
    text-align: right;
    font-size: 13px;
}

p.rate,
p.headline-review {
    display: inline;
    vertical-align: top;
}

div.ticket-review {
    border: 1px solid black;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff; /* White background */
}

div.ticket-review > ul,
div.ticket > ul {
    padding: 0;
}

div.ticket-review > ul > li,
div.ticket > ul > li {
    margin: 10px 0;
}

/* Pages Abonnements */
form.suscribe-form {
    text-align: center;
}

form.suscribe-form > select {
    width: 600px;
    font-size: 20px;
    text-align: center;
}

div.container-suscriber {
    display: table;
    width: 98vw;
    margin: 0 auto;
}

div.container-suscriber > p,
div.container-suscriber > a {
    text-align: left;
    margin: 0;
    display: table-cell;
    width: 80vh;
    border: 1px solid black;
    padding: 10px;
    background-color: #ffffff; /* White background */
}

div.container-suscriber > a {
    width: 10vh;
}

/* Page créer un ticket */
form.ticket-form {
    width: 600px;
    border: 1px solid black;
    background-color: #ffffff; /* White background */
}

form.ticket-form > p {
    display: flex;
    flex-direction: column;
}

form.ticket-form > p > label {
    margin: 10px 0;
}

form.ticket-form > p > input[type=text] {
    width: auto;
}

form.ticket-form > div.text-align-right {
    text-align: right;
}

/* Page créer ticket et critique */
#id_rating {
    display: flex;
    justify-content: space-between;
}

#id_rating > * > label > input {
    width: auto;
}

/* Page créer critique (en réponse à un ticket) */
form.ticket-form > div.ticket,
div.ticket-border > div.ticket {
    border: 1px solid black;
    padding: 10px;
    background-color: #ffffff; /* White background */
}

/* Page critique */
div.review {
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    background-color: #ffffff; /* White background */
}
