{% extends "index.html" %}
{% block content %}

<h2>Supprimer une critique</h2>

<div class="text-center">
    <p>Êtes-vous sûr de vouloir supprimer cette critique ?</p>
    <div class="review">
        {% include "blog_pages/ticket.html" %}
    </div>
    
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Supprimer" title="supprimer">
        <a href="{% url 'posts' %}" title="retour au posts">Retour à mes posts</a>
    </form>
</div>



{% endblock content %}