{% extends "index.html "%}

{% block content %}

<h2>Vos posts</h2>

<div class="my-posts">

    {% if posts %}
        {% for post in posts %}
            <div class="post" data-aos="zoom-in">
                {% if post.content_type == 'Ticket' %}
                    
                    {% include 'blog_pages/ticket.html' %}
                    <div class="text-align-right">
                        <a href="{% url 'update-ticket' post.id %}" class="link-button"
                        title="modifier un billet">
                            Modifier
                        </a>
                        <a href="{% url 'delete-ticket' post.id %}" class="link-button"
                        title="supprimer un billet">
                            Supprimer
                        </a>
                    </div>
                    
                {% elif post.content_type == 'Review' %}
                    {% include "blog/review.html" %}
                    <div class="text-align-right">
                        <a href="{% url 'update-review' post.id %}" class="link-button"
                        title="modifier la critique">
                            Modifier
                        </a>
                        <a href="{% url 'delete-review' post.id %}" class="link-button"
                        title="supprimer la critique">
                            Supprimer
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor%}
    {% else %}
    <div class="text-center">
        <p>Vous n'avez actuellement aucun posts à visualiser</p>
    </div>
    {% endif %}
            
</div>
{% endblock content %}